APP_NAME=DevBlog CMS
NODE_ENV=production

DB_NAME=blogcms
DB_USER=blog_user
DB_PASSWORD=CHANGE_ME_DB_PASSWORD
MYSQL_ROOT_PASSWORD=CHANGE_ME_ROOT_PASSWORD
MYSQL_EXPORTER_PASSWORD=CHANGE_ME_EXPORTER_PASSWORD

SESSION_SECRET=CHANGE_ME_SESSION_SECRET

GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=CHANGE_ME_GRAFANA_PASSWORD
