APP_NAME=DevBlog CMS
NODE_ENV=production
PORT=3000
DB_HOST=mysql
DB_PORT=3306
DB_NAME=blogcms
DB_USER=blog_user
DB_PASSWORD=CHANGE_ME_DB_PASSWORD
MYSQL_ROOT_PASSWORD=CHANGE_ME_ROOT_PASSWORD
MYSQL_EXPORTER_PASSWORD=CHANGE_ME_EXPORTER_PASSWORD
SESSION_SECRET=CHANGE_ME_SESSION_SECRET
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=CHANGE_ME_GRAFANA_PASSWORD
PMA_HOST=mysql
PMA_PORT=3306
